@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

</div>
<div class="container">
    <br>
    <label for="uname"><b>Name</b></label><br>
    <input type="text" placeholder="ชื่อ-นามสกุล" name="uname" required style="width: 300px;">
    <br>
    <label for="uname"><b>Email</b></label><br>
    <input type="text" placeholder="1234@hotmail" name="uname" required style="width: 300px;">
    <br>
    <label for="uname"><b>Company</b></label><br>
    <input type="text" placeholder="ชื่อบริษัท" name="uname" required style="width: 300px;">
    <br>
    <label for="uname"><b>Address</b></label><br>
    <input type="text" placeholder="ที่อยู่" name="uname" required style="width: 300px;">
    <br>
    <label for="uname"><b>Active system</b></label><br>
    <input type="text" placeholder="ระบบที่ใช้" name="uname" required style="width: 300px;">
    <br>
    <label for="uname"><b>Username</b></label><br>
    <input type="text" placeholder="ชื่อ" name="uname" required style="width: 300px;">
    <br>
    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="รหัสผ่าน" name="psw" required style="width: 300px;">
    <br>
    <label for="psw"><b>Confirmpassword</b></label><br>
    <input type="password" placeholder="ยืนยันรหัสผ่าน" name="psw" required style="width: 300px;">
    <br>
    <button type="submit">Signin</button>
    <label>
        <br>
        <input type="checkbox" checked="checked" name="remember"> Remember Me
    </label>
    <br>
</div>